<%- include('./partials/header') %>

<div class="container-fluid" style="background-color: #e2dada;margin:0px;padding:0px">
    <h1 class="text-center font-weight-bolder py-5">Purchased Items</h1>
    <div class="row" style="margin: 0px;padding: 0px">
        <% foundItem.forEach(item => { %>
        <div class="col-lg-6 col-md-8 col-xl-3 col-sm-12" style="padding-bottom: 33px">
            <div class="card-body" style="border: 1px solid grey;border-radius: 20px;">
                <div class="form-row">
                    <div class="col-lg-3 col-xl-3 col-sm-6">
                        <img src='<%= item.image %>' class="img-responsive"
                            style="border-radius: 10px;margin-bottom: 20px;" height="150px" width="auto"
                            alt="<%= item.name %> ">
                    </div>
                    <br>
                    <br>
                    <div class="col-sm-6 col-xl-9 col-lg-9">
                        <h4>Product Name:
                            <span style="font-weight: bolder;"><%= item.name %></span>
                        </h4>
                        <h4>Product ID:
                            <span style="font-weight: bolder;"><%= item._id %></span>
                        </h4>
                        <h4>Quantity:
                            <span style="font-weight: bolder;"><%= item.amount %></span>
                        </h4>
                        <h4>Price: $
                            <span style="font-weight: bolder;"><%= item.price %></span>
                        </h4>
                        <h4>Purchased At:
                            <span style="font-weight: bolder;"><%= item.date %></span>
                        </h4>
                    </div>
                </div>
                <form action="/productDelete" method="POST">
                    <input type="text" name="id" class="form-control" value="<%= item._id %>" hidden>
                    <input type="submit" value="Cancel Order" class="btn btn-block btn-danger">
                </form>
            </div>
        </div>
        <% }) %>
        <br>
        <br>
        <br>
    </div>
</div>

<%- include('./partials/footer') %>